<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="/img/hoodie.jpg" alt="Hoodie" class="img-thumbnail rounded-circle" width="200px" />
      <h1>Windy Saputra</h1>
      <p>Student || Programmer</p>
    </div>
  </div>
</div>
